<!DOCTYPE html>

<html>

<head>
	<title><%= title %></title>

	<% include templates/bootstrapcdn %>

	<link href="https://fonts.googleapis.com/css?family=Cabin|Neucha" rel="stylesheet">

	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
	<% include templates/login-header %>
	<div class="container-fluid">
		<div class="row">
			<div id="header">
				<h1 id="header-text">StrideOut</h1>
				<p id="tag-line">Train smarter, faster, better.</p>
				<button type="button" class="btn btn-warning btn-lg" id="cta">Sign Up Now</button>
			</div>
		</div>
	</div>
</body>

</html>
