body {
	padding-top: 50px;
	box-sizing: border-box;
}

nav {
	color: white;
	background-color: black !important;
}

.nav-item:hover {
	background-color: #FF8B00;
}

.dropdown-toggle:active, .open .dropdown-toggle {
	background: #FF8B00 !important;
	color: white !important;
}

.navbar-nav > li > .dropdown-menu { 
	background-color: #FF8B00;
}

.navbar-nav > li > .dropdown-menu a{
	color: white;
}

.navbar-nav > li > .dropdown-menu a:hover, .navbar-nav > li > .dropdown-menu a:focus {
	color: black;
}

#header {
	width: 100%;
	height: 100vh;
	background: linear-gradient( rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45) ), url(https://www.dropbox.com/s/gvi0l46zh7s307x/running_header2.jpg?raw=1);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0px;
  	font-family: 'cabin', sans-serif;
  	color: white;
  	text-align: center;
}

#header-text {
	margin-top: 0;
  	font-size: 80px;
  	letter-spacing: 1px;
  	padding-top: 20vh;
}

#tag-line {
	font-size: 30px;
	padding-top: 20px;
}

#cta {
	margin-top: 40px;
	background-color: #FF8B00;
	border-color: #FF8B00;
}

#cta:hover {
	background-color: #E87E00;
	border-color: #E87E00;
}